.Bloque{
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonm{
    position: fixed;
    top: 0;
    left: 0;
}
.mute{
cursor: pointer;
width: 50px;
height: auto;
}
.campo{
    position: relative;
    width: 1000px;
    height: 700px; 
    background-image: url('../IMG/Fondo\ batalla\ Pokemon.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tupokemon{
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction:column-reverse;
    width:300px;
    height: 300px;
    position: absolute;
    top: 40%; 
    left: 20%;
}
.rivalpokemon{
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction:column-reverse;
    width:300px;
    height: 300px;
    position: absolute;
    top: 10%; 
    left: 65%;
}
.tupokemon img{
    width:120px;
    height:auto;
    object-fit:contain;
}
.rivalpokemon img{
    width:120px;
    height: auto;
    object-fit: contain;
}